<div class='card'>
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by</div>
      <div class="col-md-4">
        <input type="text"
               [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row">
      <div class="col-md_6">
        <h4>Filtered by {{listFilter}}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="products.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary"
                      (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Products</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lala of filteredProducts">
            <td></td>
            <img *ngIf='showImage' [src]='lala.imageUrl' [title]='lala.productName' [style.width.px]='imageWidth' [style.margin.px] ="imageMargin"/>
            <td>{{lala.productName | lowercase | convertToSpaces:'-'}}</td>
            <td>{{lala.productCode | lowercase | convertToSpaces:'-'}}</td>
            <td>{{lala.releaseDate}}</td>
            <td>{{lala.price | currency:'USD':'symbol':'1.2-2'}}</td>
            <td><pm-star [rating]="lala.starRating"
                       (ratingClicked)="OnRatingClicked($event)"></pm-star></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
